services:
  app:
    image: sherman330turbo/docker-project-74:prod
    build:
      context: .
      dockerfile: Dockerfile.production
    volumes:
      - npm-cache:/.npm
    environment:
      npm_config_cache: /.npm
    depends_on:
      - db

  db:
    image: postgres:latest
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  npm-cache: